@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(245, 233, 211);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 20px;
  color: orange;
  text-decoration: none;
  font-weight: 450;
}

.navBar a {
  font-family: 18px;
  color-scheme: orange;
  text-decoration: none;
  font-weight: 450;
  margin-left: 35px;
  transition: 0.3s;
  color: white;
  height: auto;
}

.navBar a:hover,
.navBar a.Main {
  color: orange;
}

.Intro {
  margin-right: 9%;
  margin-top: 16%;
  color: whitesmoke;
  text-align: left;
}

.Intro h1 {
  font-size: 37px;
  color: orange;
  margin-bottom: 20px;
}

.Intro h4:hover,
.Intro p:hover {
  color: orange;
  transition: 0.3s;
}
.resumeBtn {
  background: rgb(238, 182, 78);
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px;
  border-radius: 30px;
}

.resumeBtn a:hover {
  color: white;
  transition: 0.3s;
}
.images {
  width: 45%;
  height: 80%;
  position: relative;
  bottom: 0;
  right: 100px;
}
.images me {
  height: 100%;
  position: absolute;
  left: 50%;
  margin: 40px auto 0;
  text-align: center;
  width: 200px;
}
