@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(245, 233, 211);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: orange;
  text-decoration: none;
  font-weight: 450;
}

.navBar a {
  font-family: 18px;
  color-scheme: orange;
  text-decoration: none;
  font-weight: 450;
  margin-left: 45px;
  transition: 0.3s;
  color: white;
}

.navBar a:hover,
.navBar a.Main {
  color: orange;
}
